<div class="card-top container-fluid">
  <div class="container d-flex ">
    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
        <h6>All Products</h6>
      </a>

    </div>

    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=10" alt="">
        <h6>Electronic Devices</h6>
      </a>
    </div>
    <div class="item" style="margin-left: 3%; margin-top:25 ; margin-bottom: auto;">
      <a>
        <img src="assets/suit.png" height="80" alt="no">
        <h6 style="position: absolute; margin-top: 2.2%;margin-left: 1%;">Fashion</h6>
      </a>

    </div>
    <div class="item" style="margin-left: 3%; margin-top:25 ; margin-bottom: auto;">
      <a>
        <img src="assets/81606.png" width="90" height="75" alt="">
        <h6 style="position: absolute; margin-top: 2.7%;margin-left: 1%;">Jewellery</h6>
      </a>

    </div>
  </div>
</div>




<div>

</div>

<div class="conatiner">
  <div class="row col d-flex justify-content-center">
    <ng-container *ngFor="let item of pictureData">
      <!-- <div class="card col-md-3 m-2">
        <img style="margin: auto;object-fit:cover;   object-position:50% 50%;
        " src="{{item.src.small}}" alt="">
        <h5 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100ch;"> {{item.alt}}
        </h5>
        <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100ch;">
          <strong>Price:</strong>${{item.photographer_id}}
        </p>
        <!-- <p></p>
        <p></p> -->
      <!-- <button class="btn btn-primary">Add to Cart</button> -->
      <!-- </div>  -->

      <div class="card m-2 p-0 overflow-hidden" style="width: 18rem;">
        <div class="product-img">
          <img class="card-img-top" src="{{item.src.original}}" height="200" width="20"
            alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text " style="overflow: hidden; white-space: nowrap;">{{item.alt}}</p>
          <p class="card-text"> <strong>Price:</strong>${{item.photographer_id}}
          </p>
          <p></p>
          <div class=" d-flex justify-content-between align-items-center">
            <button class="card-text btn btn-primary" (click)="addToCart(item)">
               <span *ngIf="item.addToCartSwitch" >Add to Cart </span>
               <i class="bi bi-bag"></i></button>
            <button class="border border-primary btn btn-light" (click)="toggleFavorite(item)">
              <i [ngClass]="item.addedToFavourite ? 'bi bi-heart' : 'bi bi-heart-fill'"></i> </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- <div *ngFor="let item of pictureData"> -->

<h1>
</h1>
<!-- </div> -->
