.card-top
{
position: relative;
display:flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background:#FFF;
background-clip: border-box;
border: 1px solid black;
border-radius: .25rem;
}
.item{
  text-align: center;
}
.item a:hover{
  color: blue;
}

