<div class="card-top container-fluid">
  <div class="container d-flex ">
    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
        <h6>All Products</h6>
      </a>

    </div>

    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=10" alt="">
        <h6>Electronic Devices</h6>
      </a>
    </div>
    <div class="item" style="margin-left: 3%; margin-top:25 ; margin-bottom: auto;">
      <a>
        <img src="assets/suit.png" height="80" alt="no">
        <h6 style="position: absolute; margin-top: 2.2%;margin-left: 1%;">Fashion</h6>
      </a>

    </div>
    <div class="item" style="margin-left: 3%; margin-top:25 ; margin-bottom: auto;">
      <a>
        <img src="assets/81606.png" width="90" height="75" alt="">
        <h6 style="position: absolute; margin-top: 2.7%;margin-left: 1%;">Jewellery</h6>
      </a>

    </div>
  </div>
</div>

<div class="conatiner" style="overflow-x: hidden;">
  <div class="row col d-flex justify-content-center" *ngIf="!loading">
      <ng-container *ngFor="let item of pictureData">
        <div class="card m-2 p-0 overflow-hidden" style="width: 18rem;">
          <div class="product-img">
            <img *ngIf="item.image" class="card-img-top" src="{{item.image}}" height="200" width="20"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-text " style="overflow: hidden; white-space: nowrap;">{{item.name}}</p>
            <p class="card-text"> <strong>Price:</strong>${{item.price}}
            </p>
            <p></p>
            <div class=" d-flex justify-content-between align-items-center">
              <button class="card-text btn" [ngClass]="item.addedToCart ? 'btn-outline-primary' : 'btn-primary'"
                (click)="addToCart(item)">
                {{item.addedToCart ? 'Remove From' : 'Add to'}} <i class="bi bi-cart"></i>
              </button>
              <button class="border border-primary btn btn-light" (click)="toggleFavorite(item)">
                <i [ngClass]="item.addedToFavourite ? 'bi bi-heart-fill' : 'bi bi-heart'"></i> </button>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
  <div class="row col d-flex justify-content-center" *ngIf="loading">
    <div class="card m-2" style="width: 18rem;">
      <div class="placeholder" style="height:200px"></div>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="placeholder" style="height:200px"></div>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="placeholder" style="height:200px"></div>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
  </div>
</div>


<p>
  <!-- {{sharedData.userCart!.productPrice}} -->
</p>
