<header>
  <div class="navbar bg-primary ">
    <div class="navbar-brand align-item-center d-flex">
      <i class="bi bi-bag-fill">
      </i>
      <strong style="font-size: 20px;color: azure;">
        ShopEase
      </strong>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Product">
        <i class="bi bi-search"></i>
      </div>
    </div>
    <button style="font-size: 30px;" class="btn btn-primary" (click)="onCartOpenClick()">
      <i class="bi bi-cart4"></i>
      <div style="font-size: 10px;" class="badge bg-dark">
        5
      </div>
    </button>

  </div>
</header>
